/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
.call span {
    font-size: 20px;
}

.header-btn a.btn-1 {
    font-size: 12px;
    padding: 14px 21px;
}

.about-bg {
    width: 95%;
    height: 97%;
}
.single-testimonial {
    left: -30%;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
.header-item p {
display: block;
margin-bottom: 0;
margin-top: 10px;
}

.social-links {
    margin-top: 15px;
}
.main-menu li a {
    padding: 30px 7px;
}

.call span {
    font-size: 22px;
    font-weight: 600;
}
.hero-content h1 span {
    display: block;
}


.about-text {
    margin-top: 8px;
}
.hero-content h1 span {
    display: block;
}

.about-text {
    padding-right: 30px;
}

.ggc-bg {
    width: 44%;
    top: 12%;
}
.about-area {
    text-align: center;
}

.about-bg {display: inline-block;}

.ggc-count h3 {font-size: 16px;}

.single-testimonial {
    left: -60%;
    margin-top: 160px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}